*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(/img/fondo.jpg);
}
header{
    text-align: center;
    font-size: 60px;
}

.layout {
    width: 100%;
    height: 1020px;
    display: grid;
    grid:"header" auto
    "main" 1fr
    "footer" auto/ 1fr;
    gap: 8px;
}

.header { 
    grid-area: header; 
}
.articulo{
    width: 1000px;
    height: 800px;
    text-align: center;
    display: inline-block;
    margin: 1em;
    border-radius: 5px;
}
.fotoA{
    width:300px ;
    height:300px ;
}
.extra{
    height: 30%;
    width: 25%;
    margin: 1em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.texto-parrafo{
    color: black;
    font-size: 20px;
    text-align: center;
}

.title-aside{
    font-size: 45px;
    text-align: center;
}
.main { 
    grid-area: main; 
}
.footer { 
    grid-area: footer; 
    text-align: center;
}


ol{
    padding: 15px;
    margin-left: 30%;
    font-size: 15px;
}

li{
    padding: 10px 15px;
    margin: 2em;
}

/*Selector de evento*/
li a:hover{
    color: rgb(192, 192, 192);
    text-decoration: none;
    list-style: none;
}

ul {
    text-align: center;
    padding-top: 15px;
}

ul li{
    font-size: 30px;
    display: inline;
    margin: 5px;
}

.ulfooter{
    display: inline;
    text-align: center;
    padding-top: 15px;
    margin-left: 5%;
}

blockquote{
    height:500px;
    width:500px;
}